<footer>
    <section class="rodape">
      <div class="rodapeFinal">
        <div id="flip"><p class="title">Institucional</p></div>
         <div id="panel">
          <ul class="lista">
            <li><a href="#">Depoimentos dos clientes</a></li>
            <li><a href="#">Onde estamos</a></li>
            <li><a href="#">Segurança</a></li>
            <li><a href="#">Empresa</a></li>
          </ul>
          </div> 
    </div>  
      
      <div class="metodoDePagamento">
          <button id="b2"><p class="title">Formas de Pagamento</p></button>
          <div class="bandeiras">
            <img src="assets/img/bandeirasDePagamentos/visa.svg" alt="Visa">
            <img src="assets/img/bandeirasDePagamentos/mastercard.svg" alt="Mastercard">
            <img src="assets/img/bandeirasDePagamentos/amex.svg" alt="American Express">
            <img src="assets/img/bandeirasDePagamentos/elo.svg" alt="Elo">
            <img src="assets/img/bandeirasDePagamentos/boleto.svg" alt="Boleto">
            <img src="assets/img/bandeirasDePagamentos/paypal.svg" alt="Paypal">
            <img src="assets/img/bandeirasDePagamentos/pix.svg" alt="Pix">
          </div>
      </div>
  
      <div class="redesSociais">
        <button id="b3"><p class="title">Redes Sociais</p></button>
            <div class="redes">
              <a href="#"><img src="assets/img/redesSociais/facebook.svg" alt="icone do facebook" class="redesSociaisIcones"></a>
              <a href="#"><img src="assets/img/redesSociais/instagram.svg" alt="icone do instagram" class="redesSociaisIcones"></a>
              <a href="#"><img src="assets/img/redesSociais/twitter.svg" alt="icone do twitter" class="redesSociaisIcones"></a>
              <a href="#"><img src="assets/img/redesSociais/youtube.svg" alt="icone do youtube" class="redesSociaisIcones"></a>
            </div>        
          </div>
        </section>
    </footer>
