<main>
  <div class="container-fluid">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicadores -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Conteúdo dos slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/img/imagens/bannerPromocao1.webp" alt="banner promotional" style="width:100%;">
        </div>

        <div class="item">
          <img src="assets/img/imagens/bannerPromocao2.webp" alt="banner promotional" style="width:100%;">
        </div>

        <div class="item">
          <img src="assets/img/imagens/bannerPromocao3.webp" alt="banner promotional" style="width:100%;">
        </div>
      </div>

      <!-- controles do carrossel direito e esquerdo -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <section class="bannerDestaque">
    <div class="bannerDestaque1">
      <a href="#"><img src="assets/img/imagens/bannerdestaque1.webp" class="bannerDestaqueTamanho"></a>
    </div>

    <div class="bannerDestaque2">
      <a href="#"><img src="assets/img/imagens/bannerdestaque2.webp" class="bannerDestaqueTamanho"></a>
    </div>
  </section>

  <section class="destaquePlataforma">
    <div class="escolhaPlataforma">
      <h2>Nintendo Switch</h2>
      <a href="#"><img src="assets/img/imagens/Resize_nint.webp" class="plataf-imagens1"></a>
      <p class="precoAvista">R$ 3.899,99 à vista</p>
      <p class="precoParcelado">R$ 4.099,00</p>
    </div>

    <div class="escolhaPlataforma">
      <h2>Xbox Serie X</h2>
      <a href="#"><img src="assets/img/imagens/Resize_xbx.webp" class="plataf-imagens2"></a>
      <p class="precoAvista">R$ 4.899,99 à vista</p>
      <p class="precoParcelado">R$ 5.099,00</p>
    </div>

    <div class="escolhaPlataforma">
      <h2>Playstation 5</h2>
      <a href="#"><img src="assets/img/imagens/Resize_ps5.webp" class="plataf-imagens3"></a>
      <p class="precoAvista">R$ 4.399,99 à vista</p>
      <p class="precoParcelado">R$ 4.650,00</p>
    </div>
  </section>

  <!-- CARROSSEL BOOTSTRAP VERSÃO MOBILE -->
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <h5>R$ 4.099,00</h5>
        <p>R$ 3.899,99 à vista</p>
        <img src="assets/img/imagens/Resize_nint.webp" class="d-block w-100" alt="nintendo">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="2000">
        <h5>R$ 5.099,00</h5>
        <p>R$ 4.899,99 à vista</p>
        <img src="assets/img/imagens/Resize_xbx.webp" class="d-block w-100" alt="xbox">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="2000">
        <h5>R$ 4.650,00</h5>
        <p>R$ 4.399,99 à vista</p>
        <img src="assets/img/imagens/Resize_ps5.webp" class="d-block w-100" alt="playstation">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </button>
  </div>
  <section class="bannerSecundario">
    <a href="#"><img src="assets/img/imagens/bannerDown.svg" alt="banner Promociona Secundario" class="bannerDown"></a>
  </section>

  <section>
    <div class="galeriaProdutos">
      <div class="produtos">
        <h2>Cadeira Gamer</h2>
        <a href="#"><img src="assets/img/produtos/cadeira_gamer_rgb_pctop_starlight.webp" class="imagemTamanho"></a>
        <p class="precoAvista">R$ 809,10 à vista</p>
        <p class="precoParcelado">R$ 899,00</p>
      </div>
      <div class="produtos">
        <h2>Placa de Vídeo</h2>
        <a href="#"><img src="assets/img/produtos/placa_de_video_palit_nvidia_geforce_rtx_3090.webp"
            class="imagemTamanho"></a>
        <p class="precoAvista">R$ 21.087,00 à vista</p>
        <p class="precoParcelado">R$ 23.430,00</p>
      </div>
      <div class="produtos">
        <h2>Volante Jogos</h2>
        <a href="#"><img src="assets/img/produtos/volante-gamer.webp" class="imagemTamanho"></a>
        <p class="precoAvista">R$ 1.448,91à vista</p>
        <p class="precoParcelado">R$ R$ 1.609,09</p>
      </div>
      <div class="produtos">
        <h2>Jogo FIFA 23</h2>
        <a href="#"><img src="assets/img/produtos/fifa23prevenda.webp" class="imagemTamanho"></a>
        <p class="precoAvista">R$ 360,00 à vista</p>
        <p class="precoParcelado">R$ 379,90</p>
      </div>
      <div class="produtos">
        <h2>Controle Xbox</h2>
        <a href="#"><img src="assets/img/produtos/controle_microsoft_xbox_series.webp" class="imagemTamanho"></a>
        <p class="precoAvista">R$ 250,00 à vista</p>
        <p class="precoParcelado">R$ 278,00</p>
      </div>
      <div class="produtos">
        <h2>Monitor Gamer</h2>
        <a href="#"><img src="assets/img/produtos/Monitor Gamer LED, Tela de 24.webp" class="imagemTamanho"></a>
        <p class="precoAvista">R$ 1.094,06 à vista</p>
        <p class="precoParcelado">R$ 1.127,90</p>
      </div>
    </div>
  </section>

  <!--newsletter-->
  <section class="rodapeEmail">
    <div class="rodapePrincipalEmail">
      <form class="rodapePrincipal-contatoForm" action="#">
        <fieldset>
          <legend class="rodapePrincipal-contatoForm-legend" for="email-contato">CADASTRE-SE E RECEBA OFERTAS EXCLUSIVAS
          </legend>
          <div class="rodapePrincipal-contatoForm-fieldset">
            <input id="campo-email" class="rodapePrincipal-contatoForm-emailInput" type="email"
              placeholder="DIGITE SEU E-MAIL">
            <button onclick="cadastrarNewsletter()" class="rodapePrincipal-contatoForm-submit">Enviar</button>
          </div>
        </fieldset>
      </form>
    </div>
  </section>
</main>